LastProject/server/flows.json
[{"id":"b31b36bf.4b4198","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69e518f3.88c408","type":"tab","label":"พื้นฐานการเขียน+รับค่า","disabled":false,"info":""},{"id":"7a8b2543.8b827c","type":"tab","label":"upค่า","disabled":false,"info":""},{"id":"5ba8b668.ca1fb8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7291741e.b4a4ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"170f771.b31d889","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a90c4c9b.020f9","type":"mongodb3","z":"","uri":"mongodb+srv://nut:Nut24212543@saturn-qiafl.gcp.mongodb.net/foodDB?retryWrites=true&w=majority","name":"saturn","options":"{\"newUrlParser\":ture}","parallelism":"-1"},{"id":"4432dd57.ae1ee4","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"16521","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b6fdb3ff.e87e","type":"ui_tab","z":"","name":"Home2","icon":"dashboard","disabled":false,"hidden":false},{"id":"72f555ad.02277c","type":"ui_group","z":"","name":"Toggle","tab":"b6fdb3ff.e87e","disp":true,"width":"6","collapse":false},{"id":"9d8d08dc.05e4c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ff80ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#ff80ff","edited":true},"page-titlebar-backgroundColor":{"value":"#ff80ff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffccff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ff80ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6014afcd.3bff7","type":"ui_group","z":"","name":"Toggel2","tab":"65cb0fd9.13ee6","disp":true,"width":"6","collapse":false},{"id":"65cb0fd9.13ee6","type":"ui_tab","z":"","name":"Home3","icon":"dashboard","disabled":false,"hidden":false},{"id":"4b3cf2ec.7ec50c","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"","payload":"{\"car\":{\"wheels\":4,\"color\":\"red\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":200,"wires":[["487d3589.efe9ac"]],"info":"\n    c : \"red\"\n    w : 4\n    E : \"x4\"\n"},{"id":"487d3589.efe9ac","type":"debug","z":"b31b36bf.4b4198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":220,"wires":[]},{"id":"e0646cea.9d5a1","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":280,"wires":[["7b8ad3e1.87015c","487d3589.efe9ac"]]},{"id":"7b8ad3e1.87015c","type":"debug","z":"b31b36bf.4b4198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":380,"wires":[]},{"id":"fea07437.657818","type":"function","z":"b31b36bf.4b4198","name":"","func":"var m_out = [];\nvar message = msg.payload;\nfor(i=0;i<5;i++){\n    message = message+i;\n    var newmsg ={payload:message,copic:msg.topic};\n    m_out.push(newmsg);\n}\nreturn [m_out];\n\n\n\n// var input = msg.payload;\n// var topic = msg.topic;\n// //input *=1000\n// msg.payload = input;\n// if(topic==\"C\"){\n//   return [null,msg];\n// }\n// if(topic==\"B\"){\n//     return [msg,null];\n// }\n// if(topic==\"A\"){\n//     return [msg,msg];\n// }\n\n\n// return msg;","outputs":1,"noerr":0,"x":1270,"y":220,"wires":[["5b277b9d.5df154"]]},{"id":"945610d0.e7916","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"C","payload":"2421","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":220,"wires":[["fea07437.657818"]]},{"id":"5b277b9d.5df154","type":"debug","z":"b31b36bf.4b4198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":220,"wires":[]},{"id":"cd844382.4be6a","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"B","payload":"54","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":280,"wires":[["fea07437.657818"]]},{"id":"6d1c82ac.d32ddc","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"A","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":340,"wires":[["fea07437.657818"]]},{"id":"59046014.c103b","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"AA","payload":"78","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":400,"wires":[["fea07437.657818"]]},{"id":"b54723b6.e5e8f","type":"debug","z":"b31b36bf.4b4198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":300,"wires":[]},{"id":"9b2df667.187318","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":680,"wires":[["99d1caf5.5e3958"]]},{"id":"55655ef1.ab56d","type":"debug","z":"b31b36bf.4b4198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":680,"wires":[]},{"id":"99d1caf5.5e3958","type":"function","z":"b31b36bf.4b4198","name":"","func":"var count = global.get('count')||0;\ncount += 1;\nmsg.payload=count;\nglobal.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":680,"wires":[["55655ef1.ab56d"]]},{"id":"76496093.152cd","type":"function","z":"b31b36bf.4b4198","name":"","func":"var count = flow.get('count')||0;\ncount += 1;\nmsg.payload=count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":760,"wires":[["d998ac63.69de5"]]},{"id":"2d7b19be.225606","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":760,"wires":[["76496093.152cd"]]},{"id":"d998ac63.69de5","type":"debug","z":"b31b36bf.4b4198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":760,"wires":[]},{"id":"7c5011c4.c8ebc","type":"inject","z":"b31b36bf.4b4198","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":840,"wires":[[]]},{"id":"12a5c453.2ca89c","type":"debug","z":"b31b36bf.4b4198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":840,"wires":[]},{"id":"367b9ab1.e67516","type":"function","z":"b31b36bf.4b4198","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":840,"wires":[[]]},{"id":"b0c4f6b5.0fdcd8","type":"inject","z":"69e518f3.88c408","name":"","topic":"","payload":"{\"name\":\"Banana3\",\"color\":\"Yellow3\",\"price\":200}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":300,"wires":[["46f6e48d.afd17c"]]},{"id":"5d50e4ec.be01cc","type":"debug","z":"69e518f3.88c408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":380,"wires":[]},{"id":"46f6e48d.afd17c","type":"mongodb3 in","z":"69e518f3.88c408","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"insertOne","x":640,"y":300,"wires":[["5d50e4ec.be01cc"]]},{"id":"1922482c.3533f8","type":"mongodb3 in","z":"69e518f3.88c408","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"find.toArray","x":650,"y":360,"wires":[["5d50e4ec.be01cc"]]},{"id":"a05c790.9452088","type":"inject","z":"69e518f3.88c408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":360,"wires":[["ee7ec5e6.34e918"]]},{"id":"ee7ec5e6.34e918","type":"function","z":"69e518f3.88c408","name":"","func":"msg.payload = {\n    \"price\" : {$lt : 500}\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["1922482c.3533f8"]]},{"id":"7742dcbb.f88204","type":"mongodb3 in","z":"69e518f3.88c408","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"updateMany","x":650,"y":420,"wires":[["5d50e4ec.be01cc"]]},{"id":"9ff6da0c.829fc8","type":"inject","z":"69e518f3.88c408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":420,"wires":[["8354994d.ac75f8"]]},{"id":"8354994d.ac75f8","type":"function","z":"69e518f3.88c408","name":"","func":"msg.payload = [\n    {name :\"Apple5\"},\n    {$set:{srice:1500}}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["7742dcbb.f88204"]]},{"id":"183e898a.ef8896","type":"function","z":"69e518f3.88c408","name":"","func":"msg.payload = {\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["c3cd7cf9.4b6ae"]]},{"id":"c3cd7cf9.4b6ae","type":"mongodb3 in","z":"69e518f3.88c408","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"","x":610,"y":480,"wires":[["5d50e4ec.be01cc"]]},{"id":"cb4731ec.cf19d","type":"inject","z":"69e518f3.88c408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":480,"wires":[["183e898a.ef8896"]]},{"id":"3722e4ab.af75cc","type":"mqtt in","z":"69e518f3.88c408","name":"","topic":"/duck","qos":"2","datatype":"json","broker":"4432dd57.ae1ee4","x":350,"y":120,"wires":[["46f6e48d.afd17c","53744df5.7f79e4"]]},{"id":"53744df5.7f79e4","type":"function","z":"69e518f3.88c408","name":"","func":"msg.payload = {\n   \n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":120,"wires":[["e26b619a.a3bf1"]]},{"id":"e26b619a.a3bf1","type":"mongodb3 in","z":"69e518f3.88c408","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"find.toArray","x":910,"y":120,"wires":[["fe498d82.ebfbf"]]},{"id":"fe498d82.ebfbf","type":"mqtt out","z":"69e518f3.88c408","name":"","topic":"/fuck","qos":"","retain":"","broker":"4432dd57.ae1ee4","x":1130,"y":120,"wires":[]},{"id":"a061b36e.f1241","type":"mqtt in","z":"7a8b2543.8b827c","name":"","topic":"/in","qos":"2","datatype":"json","broker":"4432dd57.ae1ee4","x":250,"y":280,"wires":[[]]},{"id":"b381a994.09a978","type":"mongodb3 in","z":"7a8b2543.8b827c","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"find.toArray","x":810,"y":280,"wires":[["c5ee0b58.dc5a88","20957337.a0e9bc"]]},{"id":"c5ee0b58.dc5a88","type":"mqtt out","z":"7a8b2543.8b827c","name":"","topic":"/out","qos":"","retain":"","broker":"4432dd57.ae1ee4","x":1110,"y":360,"wires":[]},{"id":"7e1b9a11.69ec14","type":"mongodb3 in","z":"7a8b2543.8b827c","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"insertOne","x":600,"y":160,"wires":[["20957337.a0e9bc"]]},{"id":"20957337.a0e9bc","type":"debug","z":"7a8b2543.8b827c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":200,"wires":[]},{"id":"f061a808.7e5ca8","type":"mqtt in","z":"7a8b2543.8b827c","name":"","topic":"/up","qos":"0","datatype":"json","broker":"4432dd57.ae1ee4","x":290,"y":420,"wires":[["9e697cb1.eb83","20957337.a0e9bc"]]},{"id":"9e697cb1.eb83","type":"function","z":"7a8b2543.8b827c","name":"","func":"msg.payload =[ {\nname : msg.payload.filter\n},\n{$set:{\n    \n    name: msg.payload.update\n    \n}\n    \n}\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["d3dc408c.38d67"]]},{"id":"d3dc408c.38d67","type":"mongodb3 in","z":"7a8b2543.8b827c","service":"_ext_","configNode":"a90c4c9b.020f9","name":"","collection":"fruits","operation":"updateMany","x":810,"y":420,"wires":[["20957337.a0e9bc"]]},{"id":"da3eb276.8743d","type":"function","z":"7a8b2543.8b827c","name":"","func":"msg.payload = {\n   \n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["b381a994.09a978"]]},{"id":"bc9c90c8.6b02c","type":"inject","z":"5ba8b668.ca1fb8","name":"","topic":"","payload":"{\"title\":\"MAth\",\"label\":\"Homework\",\"status_\":\"Todo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":120,"wires":[[]]},{"id":"f4e8b3e.20be55","type":"mqtt out","z":"5ba8b668.ca1fb8","name":"","topic":"/NODE_RED/JSON","qos":"","retain":"","broker":"4432dd57.ae1ee4","x":570,"y":120,"wires":[]},{"id":"fd5b4f91.414b3","type":"mqtt in","z":"5ba8b668.ca1fb8","name":"","topic":"/in","qos":"0","datatype":"auto","broker":"4432dd57.ae1ee4","x":220,"y":240,"wires":[[]]},{"id":"b4f143ab.536c3","type":"debug","z":"5ba8b668.ca1fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":260,"wires":[]},{"id":"db0e809b.5a763","type":"inject","z":"7291741e.b4a4ec","name":"","topic":"","payload":"{\"name\":\"zin\",\"label\":\"nomework\",\"status\":\"Todo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":160,"wires":[["17a35333.57fefd"]]},{"id":"17a35333.57fefd","type":"debug","z":"7291741e.b4a4ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":160,"wires":[]},{"id":"ce30d1d8.35d25","type":"function","z":"7291741e.b4a4ec","name":"","func":"msg.payload = {\n    name : \"Zin\",\n    label : \"homework\",\n    tatus : \"Todo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["c43d507.c5f7eb"]]},{"id":"4aca6adf.edbb84","type":"inject","z":"7291741e.b4a4ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":260,"wires":[["ce30d1d8.35d25"]]},{"id":"c43d507.c5f7eb","type":"debug","z":"7291741e.b4a4ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":260,"wires":[]},{"id":"a5e90074.59323","type":"ui_button","z":"7291741e.b4a4ec","name":"","group":"72f555ad.02277c","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":340,"wires":[[]]},{"id":"d16b61a1.c0165","type":"ui_button","z":"7291741e.b4a4ec","name":"","group":"6014afcd.3bff7","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"/num","x":90,"y":460,"wires":[["ea7df6aa.927b18"]]},{"id":"9e85bb7d.fb5368","type":"ui_button","z":"7291741e.b4a4ec","name":"","group":"72f555ad.02277c","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":620,"wires":[[]]},{"id":"b4b0dff1.40fa7","type":"ui_switch","z":"7291741e.b4a4ec","name":"","label":"switch","tooltip":"","group":"72f555ad.02277c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":400,"wires":[[]]},{"id":"148e04.0303a1fd","type":"ui_slider","z":"7291741e.b4a4ec","name":"","label":"slider","tooltip":"","group":"72f555ad.02277c","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"130","step":1,"x":90,"y":780,"wires":[["5a3049ee.258088"]]},{"id":"5a3049ee.258088","type":"ui_gauge","z":"7291741e.b4a4ec","name":"","group":"72f555ad.02277c","order":4,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":780,"wires":[]},{"id":"80506361.a246a","type":"ui_chart","z":"7291741e.b4a4ec","name":"","group":"6014afcd.3bff7","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":660,"wires":[[]]},{"id":"679a45cd.210b9c","type":"mqtt in","z":"7291741e.b4a4ec","name":"","topic":"/num","qos":"0","datatype":"auto","broker":"4432dd57.ae1ee4","x":910,"y":640,"wires":[["b09ad133.5ddb1","80506361.a246a"]]},{"id":"b09ad133.5ddb1","type":"ui_gauge","z":"7291741e.b4a4ec","name":"","group":"6014afcd.3bff7","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":480,"wires":[]},{"id":"ea7df6aa.927b18","type":"mqtt out","z":"7291741e.b4a4ec","name":"","topic":"/num","qos":"","retain":"","broker":"4432dd57.ae1ee4","x":270,"y":460,"wires":[]},{"id":"976fd259.c7c2a","type":"ui_button","z":"7291741e.b4a4ec","name":"","group":"6014afcd.3bff7","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"/num","x":90,"y":520,"wires":[["ea7df6aa.927b18"]]},{"id":"2ce14888.911fd8","type":"ui_switch","z":"7291741e.b4a4ec","name":"","label":"switch","tooltip":"","group":"6014afcd.3bff7","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/num","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":110,"y":400,"wires":[["ea7df6aa.927b18"]]},{"id":"4a166010.b2792","type":"ui_slider","z":"7291741e.b4a4ec","name":"","label":"slider","tooltip":"","group":"6014afcd.3bff7","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"/num","min":0,"max":"500","step":1,"x":90,"y":580,"wires":[["ea7df6aa.927b18"]]},{"id":"e58110a9.88412","type":"random","z":"7291741e.b4a4ec","name":"","low":"0","high":"500","inte":"true","property":"payload","x":320,"y":540,"wires":[["ea7df6aa.927b18"]]},{"id":"17c88165.9777df","type":"inject","z":"7291741e.b4a4ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":660,"wires":[["e58110a9.88412"]]},{"id":"3fec12c2.e9347e","type":"mqtt out","z":"170f771.b31d889","name":"distance","topic":"/distance","qos":"","retain":"","broker":"4432dd57.ae1ee4","x":740,"y":320,"wires":[]},{"id":"a12c34ad.f52838","type":"inject","z":"170f771.b31d889","name":"distance","topic":"/distance","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":320,"wires":[["d8ac7529.128768"]]},{"id":"d8ac7529.128768","type":"random","z":"170f771.b31d889","name":"randomdistance","low":"500","high":"3000","inte":"true","property":"payload","x":520,"y":320,"wires":[["3fec12c2.e9347e"]]},{"id":"4cbc3d8f.8c01b4","type":"inject","z":"170f771.b31d889","name":"","topic":"/speed","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":640,"wires":[["fd2eef50.02d74"]]},{"id":"fd2eef50.02d74","type":"random","z":"170f771.b31d889","name":"randomspeed","low":"0","high":"100","inte":"true","property":"payload","x":560,"y":640,"wires":[[]]},{"id":"7610210e.0db81","type":"mqtt out","z":"170f771.b31d889","name":"speed","topic":"/speed","qos":"","retain":"","broker":"4432dd57.ae1ee4","x":770,"y":640,"wires":[]}]