DeskAssistance/server/flows.json
[{"id":"481ceb4a.e181e4","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"f801d3a0.b1eb5","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"d67d6828.e9c458","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"6740dba1.9ec084","type":"tab","label":"CRUD Main","disabled":true,"info":""},{"id":"7e2894f9.b03f1c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"19070a46.0ca056","type":"tab","label":"Flow 6","disabled":true,"info":""},{"id":"40b953a3.9a61cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3223c74.a8948","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"3d62ec8c.a78244","type":"mongodb3","z":"","uri":"mongodb+srv://admin-P:Qwer12345@qwer-yqnyh.gcp.mongodb.net/DailyList?retryWrites=true&w=majority","name":"QWER","options":"{\"newUrlParser\":true}","parallelism":"-1"},{"id":"36eefb2b.72ec94","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"16520","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"/QWER","birthQos":"0","birthPayload":"qwer","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6acbf7c4.eb0208","type":"ui_group","z":"","name":"..","tab":"421c50fb.f45e3","order":2,"disp":true,"width":"6","collapse":false},{"id":"173de979.28c747","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#be107d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#be107d","edited":true},"page-titlebar-backgroundColor":{"value":"#be107d","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ed2da6","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#be107d","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"620135b4.4dac9c","type":"ui_group","z":"","name":"Toggle","tab":"","disp":true,"width":"6","collapse":false},{"id":"62f3e7bc.bf5fc8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"513a97d.613ab68","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"bb40fde3.9e09","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"f4c3b6ed.1fa668","type":"ui_group","z":"","name":"TodoList","tab":"421c50fb.f45e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"421c50fb.f45e3","type":"ui_tab","z":"","name":"List","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a9fd9b5.2a7fb6","type":"ui_group","z":"","name":"Todo Form","tab":"","disp":false,"width":"6","collapse":false},{"id":"a81dbc3d.7362f","type":"mongodb3","z":"","uri":"mongodb+srv://pasaweeDev:61010707@cluster0-s4oyf.gcp.mongodb.net/Todo_ENV?retryWrites=true&w=majority","name":"Todo_ENV_Database","options":"{ \"useNewUrlParser\": true,\"useUnifiedTopology\": true }","parallelism":"-1"},{"id":"b4f73562.15f458","type":"ui_group","z":"","name":"Todo List","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"978f9517.329488","type":"mqtt-broker","z":"","name":"Pre project","broker":"soldier.cloudmqtt.com","port":"16518","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8ac39744.564e18","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"de721fd0.3ba74","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"77919a46.c8dfd4","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"3c623f52.f9a22","type":"ui_group","z":"","name":"Edition","tab":"288f114e.4995ce","order":1,"disp":true,"width":"6","collapse":false},{"id":"288f114e.4995ce","type":"ui_tab","z":"","name":"Edition","icon":"dashboard","disabled":false,"hidden":false},{"id":"699bd66e.616d18","type":"ui_tab","z":"","name":"test","icon":"dashboard","disabled":false,"hidden":false},{"id":"c328db7a.c0c858","type":"ui_group","z":"","name":"...","tab":"421c50fb.f45e3","order":3,"disp":true,"width":"6","collapse":false},{"id":"38b6e574.764c5a","type":"ui_tab","z":"","name":"test2","icon":"dashboard","disabled":false,"hidden":false},{"id":"725ad85d.87dda8","type":"inject","z":"481ceb4a.e181e4","name":"123","topic":"QWER","payload":"12345","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":120,"wires":[["8984b527.d94f78"]]},{"id":"8984b527.d94f78","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":120,"wires":[]},{"id":"6fc25479.caafcc","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":200,"wires":[["8984b527.d94f78"]]},{"id":"326580c5.24ef5","type":"inject","z":"481ceb4a.e181e4","name":"A","topic":"A","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["4d8c02b1.a64aec"]]},{"id":"4d8c02b1.a64aec","type":"function","z":"481ceb4a.e181e4","name":"func","func":"var m_out = [];\nvar message = msg.payload;\nfor(i=0;i<5;i++){\n    message = message+i;\n    var newmsg = {payload:message,topic:msg.topic};\n    m_out.push(newmsg);\n}return [m_out];","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["9af49142.13394"]]},{"id":"9af49142.13394","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":240,"wires":[]},{"id":"194499c0.47b146","type":"inject","z":"481ceb4a.e181e4","name":"B","topic":"B","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["4d8c02b1.a64aec"]]},{"id":"669e8015.3f421","type":"inject","z":"481ceb4a.e181e4","name":"C","topic":"C","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["4d8c02b1.a64aec"]]},{"id":"1f2a39cc.564ac6","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":360,"wires":[]},{"id":"565b7202.0d6f5c","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":500,"wires":[["5acb4c0a.c53e24"]]},{"id":"980155f.149e8a8","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":580,"wires":[["f0a12b47.e41618"]]},{"id":"5acb4c0a.c53e24","type":"function","z":"481ceb4a.e181e4","name":"+","func":"var count=context.get('count')||0;\ncount +=1;\nmsg.payload=\"F1 \"+msg.payload+\" \"+count;\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["37de65dd.e1980a"]]},{"id":"f0a12b47.e41618","type":"function","z":"481ceb4a.e181e4","name":"","func":"var count=flow.get('count')||0;\ncount +=1;\nmsg.payload=\"F1 \"+msg.payload+\" \"+count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":386.00000381469727,"y":602.0000085830688,"wires":[["b9689f4e.d1707"]]},{"id":"37de65dd.e1980a","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":460,"wires":[]},{"id":"b9689f4e.d1707","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":600,"wires":[]},{"id":"a21dc1a3.c4f64","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"fruits","operation":"updateMany","x":350,"y":770.0000133514404,"wires":[["f951f746.3adb98"]]},{"id":"6a1b3b12.982944","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"{\"name\":\"Durian\",\"color\":\"yellow\",\"price\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":85.60000610351562,"y":768,"wires":[["a21dc1a3.c4f64"]],"info":"{\n    name: \"Banana\"\n}"},{"id":"f951f746.3adb98","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":814.6000595092773,"y":717.0000114440918,"wires":[]},{"id":"52d87694.c0c228","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"read","collection":"fruits","operation":"find.toArray","x":645.0000076293945,"y":886.0000133514404,"wires":[["f951f746.3adb98"]]},{"id":"875e35ba.7dd8f8","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.60000610351562,"y":880,"wires":[["3fc5b3f2.1411cc"]]},{"id":"3fc5b3f2.1411cc","type":"function","z":"481ceb4a.e181e4","name":"","func":"msg.payload = {\n    price : {$lt :500}\n}\nreturn msg;","outputs":1,"noerr":0,"x":323.6000061035156,"y":890.0000133514404,"wires":[["52d87694.c0c228"]]},{"id":"43b25ca8.e52ae4","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":83.60000610351562,"y":971.0000152587891,"wires":[["b045f0a0.ce676"]]},{"id":"b2adc432.2bcec8","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"update","collection":"fruits","operation":"updateMany","x":667.0000076293945,"y":972.0000143051147,"wires":[["f951f746.3adb98"]]},{"id":"b045f0a0.ce676","type":"function","z":"481ceb4a.e181e4","name":"","func":"msg.payload =[\n{name:\"Apple\"},\n{$unset:{color:\"\"}}\n\n   ]\nreturn msg;","outputs":1,"noerr":0,"x":342.60000228881836,"y":998.0000143051147,"wires":[["b2adc432.2bcec8"]]},{"id":"efba32fb.bca65","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"fruits","operation":"deleteMany","x":698.0000114440918,"y":1070.000015258789,"wires":[["f951f746.3adb98"]]},{"id":"c6d9c4c.fb6e238","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":85,"y":1045,"wires":[["fc2accaf.534bf"]]},{"id":"fc2accaf.534bf","type":"function","z":"481ceb4a.e181e4","name":"","func":"msg.payload = {\n    name:\"Banana\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":343.00000381469727,"y":1086.000015258789,"wires":[["efba32fb.bca65"]]},{"id":"2d7d701e.7fb54","type":"mqtt in","z":"481ceb4a.e181e4","name":"","topic":"/qwer","qos":"2","datatype":"json","broker":"36eefb2b.72ec94","x":123.60002899169922,"y":1203.0000162124634,"wires":[["ce9ae9e3.9ec578"]]},{"id":"5f1fb221.892cdc","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":667.6001052856445,"y":1205.0000171661377,"wires":[]},{"id":"ce9ae9e3.9ec578","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"fruits","operation":"insertOne","x":389.0000305175781,"y":1204.0000171661377,"wires":[["5f1fb221.892cdc"]]},{"id":"d40e853d.e2fb68","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"read","collection":"fruits","operation":"find.toArray","x":539.4000053405762,"y":1354.0000190734863,"wires":[["74ba2a7f.abcb84"]]},{"id":"8aaecffd.31df9","type":"inject","z":"481ceb4a.e181e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":114,"y":1345.000020980835,"wires":[["ece65364.9f875"]]},{"id":"ece65364.9f875","type":"function","z":"481ceb4a.e181e4","name":"","func":"msg.payload = {\n    price : {$lt :5000}\n}\nreturn msg;","outputs":1,"noerr":0,"x":330.00000381469727,"y":1353.0000190734863,"wires":[["d40e853d.e2fb68"]]},{"id":"74ba2a7f.abcb84","type":"mqtt out","z":"481ceb4a.e181e4","name":"","topic":"/qwer","qos":"","retain":"","broker":"36eefb2b.72ec94","x":762.6000595092773,"y":1357.000020980835,"wires":[]},{"id":"1ea3b6f1.2e9e49","type":"mqtt in","z":"481ceb4a.e181e4","name":"","topic":"/qwert","qos":"2","datatype":"json","broker":"36eefb2b.72ec94","x":96,"y":1517.9999732971191,"wires":[["8201f801.1973e8"]]},{"id":"8201f801.1973e8","type":"function","z":"481ceb4a.e181e4","name":"","func":"var filter,update\nfilter = msg.payload.filter \nupdate = msg.payload.update \n\nmsg.payload =[ \n    {\"name\":filter},\n    {$set:{\"name\":update}}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":298.0000305175781,"y":1514.9999732971191,"wires":[["f41e0847.fc55c8"]]},{"id":"f41e0847.fc55c8","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"update","collection":"fruits","operation":"updateMany","x":475.00000762939453,"y":1509.9999732971191,"wires":[["fc460a3e.8e0388"]]},{"id":"3635caa4.0019d6","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"fruits","operation":"find.toArray","x":372.60009765625,"y":1598.1999740600586,"wires":[["9048e630.30ac48"]]},{"id":"9048e630.30ac48","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":628.6000595092773,"y":1582.200023651123,"wires":[]},{"id":"fc460a3e.8e0388","type":"function","z":"481ceb4a.e181e4","name":"","func":"msg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":176.60000610351562,"y":1596.1999740600586,"wires":[["3635caa4.0019d6"]]},{"id":"5beb0ab4.c62924","type":"mqtt in","z":"481ceb4a.e181e4","name":"","topic":"/qwert","qos":"2","datatype":"json","broker":"36eefb2b.72ec94","x":88,"y":1730.0000257492065,"wires":[["edf4fbaf.13d698"]]},{"id":"edf4fbaf.13d698","type":"function","z":"481ceb4a.e181e4","name":"","func":"let key = msg.payload.key\nlet value = msg.payload.value\n\nmsg.payload = {\n    [key]:value\n}\nreturn msg;","outputs":1,"noerr":0,"x":308.6000061035156,"y":1736.0000247955322,"wires":[["b2602f6f.e5f9b"]]},{"id":"b2602f6f.e5f9b","type":"mongodb3 in","z":"481ceb4a.e181e4","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"fruits","operation":"deleteOne","x":544.6000518798828,"y":1739.0000247955322,"wires":[["7333aa98.df0fb4"]]},{"id":"7333aa98.df0fb4","type":"debug","z":"481ceb4a.e181e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1716,"wires":[]},{"id":"df5b131c.6424","type":"inject","z":"f801d3a0.b1eb5","name":"","topic":"","payload":"{\"title\":\"MAth\",\"label\":\"Homework\",\"status_\":\"Todo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":214.60000610351562,"y":183.00000286102295,"wires":[["bb6cbae0.dbaa08"]]},{"id":"bb6cbae0.dbaa08","type":"mqtt out","z":"f801d3a0.b1eb5","name":"","topic":"/NODE_RED/JSON","qos":"","retain":"","broker":"36eefb2b.72ec94","x":545.6000595092773,"y":179.00000190734863,"wires":[]},{"id":"6e8f540.61e04ac","type":"mqtt in","z":"f801d3a0.b1eb5","name":"","topic":"/test2","qos":"0","datatype":"json","broker":"36eefb2b.72ec94","x":190.60000228881836,"y":256.00000381469727,"wires":[[]]},{"id":"ef7b3c7.c446bc","type":"debug","z":"f801d3a0.b1eb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":573.6000556945801,"y":297.00000381469727,"wires":[]},{"id":"12cd66bd.c1a9a9","type":"mongodb3 in","z":"f801d3a0.b1eb5","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"fruits","operation":"insertOne","x":335.60009765625,"y":353.8000297546387,"wires":[["ef7b3c7.c446bc"]]},{"id":"c87c612f.7bd5e","type":"mongodb3 in","z":"f801d3a0.b1eb5","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"","operation":"","x":249.60000228881836,"y":71.80000114440918,"wires":[["bb6cbae0.dbaa08"]]},{"id":"ed1b411d.ac11b","type":"inject","z":"f801d3a0.b1eb5","name":"","topic":"","payload":"{\"name\":\"Zin\",\"label\":\"homework\",\"status\":\"Todo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204.5999984741211,"y":461.00000762939453,"wires":[["87960c83.29feb"]]},{"id":"87960c83.29feb","type":"debug","z":"f801d3a0.b1eb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":437.60003662109375,"y":458,"wires":[]},{"id":"28f752e2.124b3e","type":"inject","z":"f801d3a0.b1eb5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":264.6000099182129,"y":540,"wires":[["ef615364.160ab"]]},{"id":"ef615364.160ab","type":"function","z":"f801d3a0.b1eb5","name":"","func":"msg.payload = {\n    \"name\": \"Zin\",\n    \"label\": \"homework\",\n    \"status\": \"Todo\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":480.6000556945801,"y":537.0000085830688,"wires":[["d7264221.891a6"]]},{"id":"d7264221.891a6","type":"debug","z":"f801d3a0.b1eb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700.6000633239746,"y":533.0000076293945,"wires":[]},{"id":"191b559a.002b9a","type":"mqtt in","z":"d67d6828.e9c458","name":"","topic":"/random","qos":"2","datatype":"auto","broker":"36eefb2b.72ec94","x":208.5999984741211,"y":138.00000190734863,"wires":[["912d1079.31a8a"]]},{"id":"912d1079.31a8a","type":"debug","z":"d67d6828.e9c458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":441.60010528564453,"y":68.00000190734863,"wires":[]},{"id":"1f09a4a3.24c5cb","type":"mqtt out","z":"d67d6828.e9c458","name":"","topic":"/number","qos":"","retain":"","broker":"36eefb2b.72ec94","x":515.6000061035156,"y":274.0000057220459,"wires":[]},{"id":"cba810e8.228a2","type":"mongodb3 in","z":"7e2894f9.b03f1c","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"todo","operation":"find.toArray","x":369.6000518798828,"y":229.00000190734863,"wires":[["5cdcb828.9bafd8","d4e8b131.de2d4","e532ce9c.3b9cc"]]},{"id":"155095ec.45ffba","type":"mongodb3 in","z":"6740dba1.9ec084","service":"_ext_","configNode":"a81dbc3d.7362f","name":"Insert","collection":"todos","operation":"insert","x":550,"y":140,"wires":[["a1323e1e.279e1","77f26ad9.15a7e4","e637acd4.15d6c","d2f8b044.4b09a"]]},{"id":"ba86941f.fbb718","type":"function","z":"6740dba1.9ec084","name":"Get todo_form","func":"let todo = global.get('todo_form')\nmsg.payload=todo\nif(todo !== null)\n{\n    return msg;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["166a3eeb.6b1a61","155095ec.45ffba"]]},{"id":"a1323e1e.279e1","type":"debug","z":"6740dba1.9ec084","name":"Insert Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":140,"wires":[]},{"id":"77f26ad9.15a7e4","type":"function","z":"6740dba1.9ec084","name":"Reset todo_form","func":"global.set('todo_form',null)\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[[]]},{"id":"86ef29a9.af0ff8","type":"mongodb3 in","z":"6740dba1.9ec084","service":"_ext_","configNode":"a81dbc3d.7362f","name":"Find","collection":"todos","operation":"find.toArray","x":570,"y":360,"wires":[["71cb3989.46dbd8","c4847f08.45aec"]]},{"id":"583eac2c.2740f4","type":"inject","z":"6740dba1.9ec084","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[[]]},{"id":"d7f74012.755e9","type":"debug","z":"6740dba1.9ec084","name":"Find Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":360,"wires":[]},{"id":"e637acd4.15d6c","type":"function","z":"6740dba1.9ec084","name":"Find And Projection","func":"let filter = {}\nmsg.payload=[filter]\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":360,"wires":[["86ef29a9.af0ff8"]]},{"id":"12866a47.7ab646","type":"comment","z":"6740dba1.9ec084","name":"Read ","info":"","x":110,"y":280,"wires":[]},{"id":"a7115aa7.9abb78","type":"comment","z":"6740dba1.9ec084","name":"Insert","info":"","x":150,"y":60,"wires":[]},{"id":"71cb3989.46dbd8","type":"function","z":"6740dba1.9ec084","name":"Object to Array delete prop","func":"let todo_list =msg.payload\nlet todoArray = Object.values(todo_list)\ntodoArray.forEach((e)=>{e.description  = e.label;\n    delete e.label\n    delete e._id\n    delete e.date\n    delete e.status_\n    \n})\nmsg.payload = todoArray\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":360,"wires":[["42420d29.edc8d4"]]},{"id":"42420d29.edc8d4","type":"function","z":"6740dba1.9ec084","name":"Add to global","func":"global.set('todo_list',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":360,"wires":[["d7f74012.755e9","5476ac24.8b9824"]]},{"id":"5476ac24.8b9824","type":"link out","z":"6740dba1.9ec084","name":"is Read","links":["34758c0c.2ac0b4"],"x":1215,"y":420,"wires":[]},{"id":"650ebe60.6bb52","type":"link in","z":"6740dba1.9ec084","name":"is Refresh","links":["1e9056fe.07fd29","73b7deb9.e58f9"],"x":180,"y":440,"wires":[["e637acd4.15d6c"]]},{"id":"258ff8bc.fccb98","type":"mqtt out","z":"6740dba1.9ec084","name":"Pub Todos","topic":"/NODE_RED/Todos","qos":"0","retain":"true","broker":"978f9517.329488","x":970,"y":460,"wires":[]},{"id":"c4847f08.45aec","type":"function","z":"6740dba1.9ec084","name":"Pre Sent","func":"let todos=msg.payload\nlet todoArray = Object.values(todos)\ntodoArray.forEach((e)=>{\n    delete e._id\n    e.date = e.date.toString().substr(0,e.date.toString().length-14)\n   \n})\nlet todo_list = {\n    \"list\":todos\n}\nglobal.set('todo_list',todo_list)\nmsg.payload = todo_list\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":460,"wires":[["258ff8bc.fccb98","bac64cb7.e0b11"]]},{"id":"bac64cb7.e0b11","type":"debug","z":"6740dba1.9ec084","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":540,"wires":[]},{"id":"83a6e6fa.199f08","type":"comment","z":"6740dba1.9ec084","name":"Delete","info":"","x":110,"y":600,"wires":[]},{"id":"8949da2e.33bd88","type":"link in","z":"6740dba1.9ec084","name":"delete id","links":["77576f69.ea34f"],"x":115,"y":680,"wires":[["f2edc3f0.13072"]]},{"id":"f2edc3f0.13072","type":"mongodb3 in","z":"6740dba1.9ec084","service":"_ext_","configNode":"a81dbc3d.7362f","name":"Delete Many","collection":"todos","operation":"deleteOne","x":350,"y":680,"wires":[["ddf6a94c.c72448","73b7deb9.e58f9","98a01135.61f27"]]},{"id":"ddf6a94c.c72448","type":"debug","z":"6740dba1.9ec084","name":"Delete Many Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":800,"wires":[]},{"id":"73b7deb9.e58f9","type":"link out","z":"6740dba1.9ec084","name":"is deleted","links":["650ebe60.6bb52","a35a5e74.8a174"],"x":615,"y":600,"wires":[]},{"id":"98a01135.61f27","type":"function","z":"6740dba1.9ec084","name":"Rest store_id","func":"global.set(\"delete_todo\",null)\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[[]]},{"id":"166a3eeb.6b1a61","type":"debug","z":"6740dba1.9ec084","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":60,"wires":[]},{"id":"7a84e12f.4e654","type":"link in","z":"6740dba1.9ec084","name":"is Insert","links":["b96329ab.621cd8"],"x":155,"y":140,"wires":[["ba86941f.fbb718"]]},{"id":"d2f8b044.4b09a","type":"link out","z":"6740dba1.9ec084","name":"is Fetch","links":["7ffe9e30.c96f5"],"x":735,"y":80,"wires":[]},{"id":"5cdcb828.9bafd8","type":"function","z":"7e2894f9.b03f1c","name":"Object to Array delete prop","func":"let todo_list =msg.payload\nlet todoArray = Object.values(todo_list)\ntodoArray.forEach((e)=>{\n   e.description = e.t1\n    e.title = e.t5\n    \n    delete e.label\n    delete e._id\n    \n    \n})\nmsg.payload = todoArray\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":48.00000762939453,"wires":[["8300cc06.32b15"]]},{"id":"cbe15f3e.81a43","type":"ui_text_input","z":"7e2894f9.b03f1c","name":"","label":"Enter your list","tooltip":"","group":"3c623f52.f9a22","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":166.60000610351562,"y":361.6000785827637,"wires":[["fd5086e0.6fa3c8"]]},{"id":"1eabe61e.477f1a","type":"debug","z":"7e2894f9.b03f1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":659.6000595092773,"y":541.0000076293945,"wires":[]},{"id":"fd5086e0.6fa3c8","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let todo_list =msg.payload\nmsg.payload =[\n{TODO:\"TODO\"},\n{$set:{\"t1\":todo_list}}]\nreturn msg;","outputs":1,"noerr":0,"x":403.6000785827637,"y":376.4000053405762,"wires":[["72bee6e2.cc7188","1eabe61e.477f1a"]]},{"id":"72bee6e2.cc7188","type":"mongodb3 in","z":"7e2894f9.b03f1c","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"todo","operation":"updateMany","x":656.6000595092773,"y":421.6000061035156,"wires":[[]]},{"id":"8ee57aaf.c109a8","type":"ui_text_input","z":"7e2894f9.b03f1c","name":"","label":"Enter your list","tooltip":"","group":"3c623f52.f9a22","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":165,"y":431.0000057220459,"wires":[["99528022.76365"]]},{"id":"716a8b74.b619e4","type":"ui_text_input","z":"7e2894f9.b03f1c","name":"","label":"Enter your list","tooltip":"","group":"3c623f52.f9a22","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":165,"y":485.00000762939453,"wires":[["2426a31f.8f7edc"]]},{"id":"3b1df4f1.061b6c","type":"ui_text_input","z":"7e2894f9.b03f1c","name":"","label":"Enter your list","tooltip":"","group":"3c623f52.f9a22","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":161,"y":565.0000076293945,"wires":[["ecdd1ca3.65e53"]]},{"id":"99528022.76365","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let todo_list =msg.payload\nmsg.payload =[\n{TODO:\"TODO\"},\n{$set:{\"t3\":todo_list}}]\nreturn msg;","outputs":1,"noerr":0,"x":412.00000381469727,"y":435.0000057220459,"wires":[["72bee6e2.cc7188"]]},{"id":"2426a31f.8f7edc","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let todo_list =msg.payload\nmsg.payload =[\n{TODO:\"TODO\"},\n{$set:{\"t3\":todo_list}}]\nreturn msg;","outputs":1,"noerr":0,"x":417.00000381469727,"y":493.00000762939453,"wires":[["72bee6e2.cc7188"]]},{"id":"ecdd1ca3.65e53","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let todo_list =msg.payload\nmsg.payload =[\n{TODO:\"TODO\"},\n{$set:{\"t4\":todo_list}}]\nreturn msg;","outputs":1,"noerr":0,"x":412.00000381469727,"y":559.0000085830688,"wires":[["72bee6e2.cc7188"]]},{"id":"63710bd9.905a44","type":"ui_dropdown","z":"19070a46.0ca056","name":"","label":"","tooltip":"","place":"Select option","group":"f4c3b6ed.1fa668","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Monday","value":"Monday","type":"str"},{"label":"Tueday","value":"Tueday","type":"str"},{"label":"wed","value":"wed","type":"str"},{"label":"thu","value":"thu","type":"str"}],"payload":"","topic":"","x":65,"y":245.60000228881836,"wires":[["1d0a96f8.f1f539"]]},{"id":"e6cd69bc.87cef8","type":"function","z":"19070a46.0ca056","name":"","func":"let Todo = msg.payload[0].TODO\n\n let out = {}\nlet arr = []\n// Todo.forEach((e)=>{\n//     out.title = e\n//     arr.push(out)\n// })\nmsg.payload = Todo\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":498.60010528564453,"y":238.00000381469727,"wires":[["669b0d33.fdc074"]]},{"id":"ca320f7e.48e6e","type":"inject","z":"19070a46.0ca056","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":294.6000061035156,"y":309.0000057220459,"wires":[["e6cd69bc.87cef8"]]},{"id":"92033406.8dd1c8","type":"mongodb3 in","z":"19070a46.0ca056","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"todo","operation":"find.forEach","x":481.00000762939453,"y":143.00000190734863,"wires":[["e6cd69bc.87cef8","acc72655.9611d8"]]},{"id":"1d0a96f8.f1f539","type":"function","z":"19070a46.0ca056","name":"","func":"let day = msg.payload\nmsg.payload = {\n    Day:day\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":256.00000381469727,"y":107.00001335144043,"wires":[["92033406.8dd1c8"]]},{"id":"acc72655.9611d8","type":"debug","z":"19070a46.0ca056","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760.6000595092773,"y":126.00000381469727,"wires":[]},{"id":"d3a3b7b9.4f1838","type":"inject","z":"19070a46.0ca056","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.60000610351562,"y":63,"wires":[["1d0a96f8.f1f539"]]},{"id":"669b0d33.fdc074","type":"debug","z":"19070a46.0ca056","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":659.6000061035156,"y":403.0000057220459,"wires":[]},{"id":"8300cc06.32b15","type":"ui_list","z":"7e2894f9.b03f1c","group":"f4c3b6ed.1fa668","name":"","order":0,"width":"6","height":"16","lineType":"three","actionType":"none","allowHTML":true,"outputs":0,"x":855.0000114440918,"y":64.00000190734863,"wires":[]},{"id":"d4e8b131.de2d4","type":"function","z":"7e2894f9.b03f1c","name":"Object to Array delete prop","func":"let todo_list =msg.payload\nlet todoArray = Object.values(todo_list)\ntodoArray.forEach((e)=>{\n   e.description = e.t2\n    e.title = e.t3\n    \n    delete e.label\n    delete e._id\n    \n    \n})\nmsg.payload = todoArray\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":110.00000190734863,"wires":[["d19d65f4.91d0c8"]]},{"id":"d19d65f4.91d0c8","type":"ui_list","z":"7e2894f9.b03f1c","group":"c328db7a.c0c858","name":"","order":0,"width":"6","height":"16","lineType":"three","actionType":"none","allowHTML":true,"outputs":0,"x":859.0000114440918,"y":119.00000190734863,"wires":[]},{"id":"e532ce9c.3b9cc","type":"function","z":"7e2894f9.b03f1c","name":"Object to Array delete prop","func":"let todo_list =msg.payload\nlet todoArray = Object.values(todo_list)\ntodoArray.forEach((e)=>{\n   e.description = e.t4\n    e.title = e.t6\n    \n    delete e.label\n    delete e._id\n    \n    \n})\nmsg.payload = todoArray\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":159.00000190734863,"wires":[["5c48b43.5f7e44c"]]},{"id":"5c48b43.5f7e44c","type":"ui_list","z":"7e2894f9.b03f1c","group":"6acbf7c4.eb0208","name":"","order":0,"width":"6","height":"16","lineType":"three","actionType":"none","allowHTML":false,"outputs":0,"x":851.6000137329102,"y":179.60000228881836,"wires":[]},{"id":"ab8433d1.ca639","type":"ui_text_input","z":"7e2894f9.b03f1c","name":"","label":"Enter your list","tooltip":"","group":"3c623f52.f9a22","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":154,"y":639.0000095367432,"wires":[["61cdf924.23f218"]]},{"id":"61cdf924.23f218","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let todo_list =msg.payload\nmsg.payload =[\n{TODO:\"TODO\"},\n{$set:{\"t5\":todo_list}}]\nreturn msg;","outputs":1,"noerr":0,"x":436.00000762939453,"y":642.0000092983246,"wires":[["72bee6e2.cc7188"]]},{"id":"82297091.3f954","type":"ui_text_input","z":"7e2894f9.b03f1c","name":"","label":"Enter your list","tooltip":"","group":"3c623f52.f9a22","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":166,"y":738.0000114440918,"wires":[["46b5f14b.5b5c6"]]},{"id":"46b5f14b.5b5c6","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let todo_list =msg.payload\nmsg.payload =[\n{TODO:\"TODO\"},\n{$set:{\"t6\":todo_list}}]\nreturn msg;","outputs":1,"noerr":0,"x":451.00000762939453,"y":734.0000109672546,"wires":[["72bee6e2.cc7188"]]},{"id":"b083aa69.72a6c8","type":"inject","z":"7e2894f9.b03f1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":153.60000610351562,"y":224.00000381469727,"wires":[["cba810e8.228a2"]]},{"id":"674e9b00.b32d44","type":"mqtt out","z":"7e2894f9.b03f1c","name":"","topic":"/t1","qos":"2","retain":"","broker":"978f9517.329488","x":884.6000595092773,"y":917.0000114440918,"wires":[]},{"id":"244acd61.b56f82","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let val = msg.payload;\nmsg.payload = val.t1\nreturn msg;","outputs":1,"noerr":0,"x":678.6000595092773,"y":920.0000133514404,"wires":[["674e9b00.b32d44"]]},{"id":"8b197739.b93948","type":"inject","z":"7e2894f9.b03f1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":167.6000747680664,"y":872.0000123977661,"wires":[["d22d045c.b3e5a8"]]},{"id":"d22d045c.b3e5a8","type":"mongodb3 in","z":"7e2894f9.b03f1c","service":"_ext_","configNode":"3d62ec8c.a78244","name":"","collection":"todo","operation":"find.forEach","x":373,"y":1036.0000133514404,"wires":[["244acd61.b56f82","a381fe01.8c98b","c5e2578f.01b8b8","d6591e7b.96331","8109af25.e4d4c","9cddb397.7d74d","cfccfda4.6212b"]]},{"id":"a381fe01.8c98b","type":"debug","z":"7e2894f9.b03f1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":672.6000366210938,"y":1045,"wires":[]},{"id":"8e01dcce.8c134","type":"mqtt out","z":"7e2894f9.b03f1c","name":"","topic":"/t2","qos":"","retain":"","broker":"978f9517.329488","x":894.6000137329102,"y":995.0000152587891,"wires":[]},{"id":"736f319a.4f936","type":"mqtt out","z":"7e2894f9.b03f1c","name":"","topic":"/t3","qos":"","retain":"","broker":"978f9517.329488","x":877.6000366210938,"y":1105,"wires":[]},{"id":"7e83c108.5c223","type":"mqtt out","z":"7e2894f9.b03f1c","name":"","topic":"/t4","qos":"","retain":"","broker":"978f9517.329488","x":859.6000137329102,"y":1173.000018119812,"wires":[]},{"id":"60f4018.c15d8","type":"mqtt out","z":"7e2894f9.b03f1c","name":"","topic":"/t6","qos":"","retain":"","broker":"978f9517.329488","x":844.6000366210938,"y":1282,"wires":[]},{"id":"67cca43f.18662c","type":"mqtt out","z":"7e2894f9.b03f1c","name":"","topic":"/t5","qos":"","retain":"","broker":"978f9517.329488","x":851.6000595092773,"y":1230.000018119812,"wires":[]},{"id":"c5e2578f.01b8b8","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let val = msg.payload;\nJSON.stringify(val);\nmsg.payload = val.t2\nreturn msg;","outputs":1,"noerr":0,"x":692,"y":981,"wires":[["8e01dcce.8c134"]]},{"id":"d6591e7b.96331","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let val = msg.payload;\nJSON.stringify(val);\nmsg.payload = val.t3\nreturn msg;","outputs":1,"noerr":0,"x":688,"y":1092,"wires":[["736f319a.4f936"]]},{"id":"8109af25.e4d4c","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let val = msg.payload;\nJSON.stringify(val);\nmsg.payload = val.t4\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1167,"wires":[["7e83c108.5c223"]]},{"id":"9cddb397.7d74d","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let val = msg.payload;\nJSON.stringify(val);\nmsg.payload = val.t5\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":1226,"wires":[["67cca43f.18662c"]]},{"id":"cfccfda4.6212b","type":"function","z":"7e2894f9.b03f1c","name":"","func":"let val = msg.payload;\nJSON.stringify(val);\nmsg.payload = val.t6\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":1294,"wires":[["60f4018.c15d8"]]}]