Smart Watch/server/flows.json
[{"id":"442163e7.94289c","type":"tab","label":"Smart Watch","disabled":false,"info":""},{"id":"f6949de2.f4d58","type":"mqtt in","z":"442163e7.94289c","name":"","topic":"/M5GO/GetTime","qos":"2","datatype":"auto","broker":"3e7bc152.58714e","x":160,"y":60,"wires":[["734fed50.924844","ccbdb526.255e48"]]},{"id":"780545eb.29d70c","type":"function","z":"442163e7.94289c","name":"","func":"let time = new Date();\nmsg.payload = {\n    hours : '\"' + time.getHours() + '\"',\n    minutes : '\"' + time.getMinutes() + '\"',\n    seconds : '\"' + time.getSeconds() + '\"',\n    date : '\"' + time.getDate() + '\"',\n    month : '\"' + time.getMonth() + '\"',\n    year : '\"' + time.getFullYear() + '\"'\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["17688771.af23c9","8a157d0d.e4d92"]]},{"id":"17688771.af23c9","type":"mqtt out","z":"442163e7.94289c","name":"","topic":"/M5GO/SetTime","qos":"","retain":"","broker":"3e7bc152.58714e","x":700,"y":60,"wires":[]},{"id":"8a157d0d.e4d92","type":"debug","z":"442163e7.94289c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":120,"wires":[]},{"id":"28c2d53f.745fca","type":"inject","z":"442163e7.94289c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["780545eb.29d70c","8b7d8bc6.bd7e58"]]},{"id":"734fed50.924844","type":"delay","z":"442163e7.94289c","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":60,"wires":[["780545eb.29d70c"]]},{"id":"9a98053.57114f8","type":"mongodb3 in","z":"442163e7.94289c","service":"_ext_","configNode":"dab92b8c.e67398","name":"","collection":"ToDo","operation":"find.toArray","x":760,"y":180,"wires":[["5ed1d47d.d418fc","3b5cd23d.5a32ae"]]},{"id":"5ed1d47d.d418fc","type":"debug","z":"442163e7.94289c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":180,"wires":[]},{"id":"8b7d8bc6.bd7e58","type":"function","z":"442163e7.94289c","name":"","func":"msg.payload = [{\n    timestamp : {\n        $gte : msg.payload\n    }\n},{\n    sort:[['timestamp',1]]\n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["9a98053.57114f8"]]},{"id":"79754707.b8fbd8","type":"mqtt out","z":"442163e7.94289c","name":"","topic":"/M5GO/ToDo","qos":"","retain":"","broker":"3e7bc152.58714e","x":1190,"y":240,"wires":[]},{"id":"3b5cd23d.5a32ae","type":"function","z":"442163e7.94289c","name":"","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":240,"wires":[["79754707.b8fbd8"]]},{"id":"ccbdb526.255e48","type":"function","z":"442163e7.94289c","name":"","func":"msg.payload = new Date().getTime()\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["8b7d8bc6.bd7e58"]]},{"id":"3e7bc152.58714e","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"16522","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dab92b8c.e67398","type":"mongodb3","z":"","uri":"mongodb+srv://root:toor@hcrl-vakin.gcp.mongodb.net/SmartWatchDB?retryWrites=true&w=majority","name":"SmartWatchDB","options":"","parallelism":"-1"}]